:root {
  --apex-background-color: #F3F7F8;
  --apex-foreground-color: #003247;

  --apex-primary-background-color: #15616d; 
  --apex-primary-foreground-color: white;

  --apex-secondary-background-color: #5172a0;
  --apex-secondary-foreground-color: white;

  --apex-disabled-background-color: var(--lightgray);
  --apex-disabled-foreground-color: var(--darkgray);


  --apex-card-background-color: color-mix(in srgb, var(--apex-background-color) 10%, white);
  --apex-primary-hover-color: color-mix(in srgb, var(--apex-primary-background-color) 90%, black);
  --apex-secondary-hover-color: color-mix(in srgb, var(--apex-secondary-background-color) 90%, black);
}
